*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body{
  background-color: rgb(7, 6, 15);
  --header-backgroundColor: rgb(0, 0, 0);
  --header--title-color: white;
  --header--title-color-hover: rgb(19, 19, 18);
  --header--border-color: white;
  
  --navbar-backgroundColor: rgb(21, 21, 22);
  --navbar--text-color: white;

  --text-color: white;
  --content-background: rgb(11, 11, 29);
}

/* king james: de4e12af7f28f599-01 */

/* HEADER */
.header{
  height: 4rem;
  width: 100%;
  background-color: var(--header-backgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* border-bottom: 1px solid var(--header--border-color); */
  z-index: 2;
  padding: 1rem;
}
.header--title{
  color: var(--header--title-color);
  font-size: 2vw;
  margin-right: 1rem;
}
.header--logo{
  height: 2vw;
}
.button-hidde{
  background-color: var(--button-hidde-background);
  color: var(--button-hidde-color);
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.button-hidde:hover{
  background-color: var(--button-hidde-background-hover);
  color: var(--button-hidde-color-hover);
}
/* HEADER */


/* NAVBAR */
.navbar-container{
  margin-top: 4rem;
  height: fit-content;
  width: 100vw;
  background-color: var(--navbar-backgroundColor);
  display: grid;
  grid-template-columns: repeat(2 , 30vw);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.inputFinder-container{
  height: fit-content;
  width: 100%;
  display: flex;
}
.inputFinder{
  height: fit-content;
  width: 100%;
  font-size: 1.5rem;
}
.select-version-container{
  height: fit-content;
  width: 100%;
}
.select-version{
  font-size: 1.5rem;
  height: 50%;
  width: 100%;
}
/* NAVBAR */


/* APP CONTENT ----------------- */

.app-content{
  color: var(--text-color);
}

.content-container{
  /* background-color: var(--content-background); */
  text-align: justify;
  margin: 0 auto;
  width: 70vw;
}

.content-title{
  font-size: 3rem;
  text-align: center;
}

.content-verse{
  font-size: 2rem;
}

/* APP CONTENT ----------------- */


@media (max-width: 1000px) {
  /* HEADER RESPONSIVE */  
  .header--title{
    font-size: 5vw;
  }
  
  .header--logo{
    height: 5vw;
  }
  /* HEADER RESPONSIVE */


  /* NAVBAR RESPONSIVE */
  .navbar-container{
    grid-template-columns: repeat(1 , 50%);
    gap: 1rem;
  }
  /* NAVBAR RESPONSIVE */



  /* APP CONTENT RESPONSIVE ----------------- */
  
  /* APP CONTENT RESPONSIVE ----------------- */
}