*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body{
  background-color: rgb(7, 6, 15);

  --error-background: rgb(230, 126, 143);
  --error-text: rgb(241, 33, 33);

  --header-backgroundColor: rgb(0, 0, 0);
  --header--title-color: rgb(216, 218, 181);
  --header--title-color-hover: rgb(19, 19, 18);
  --header--border-color: white;
  
  --navbar-backgroundColor: rgba(30, 30, 31, 0.897);
  --navbar--text-color: white;
  --inputFinder-background:  rgb(255, 248, 192);
  --buttonFinder-background: rgb(255, 248, 192);
  --buttonFinder-background-hover: rgb(238, 223, 112);

  --text-color: rgb(229, 224, 174);
  --content-background: rgb(11, 11, 29);

  --footer-background: rgb(0, 0, 0);
  --footer-text: rgb(216, 218, 181);
}


.loading-container{
  width: 80vw;
  height: fit-content;
  min-height: 40vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.error-container{
  background-color: var(--error-background);
  width: 80vw;
  height: fit-content;
  min-height: 40vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.error-text{
  color: var(--error-text);
}


/* HEADER */
.header{
  height: 4rem;
  width: 100%;
  background-color: var(--header-backgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* border-bottom: 1px solid var(--header--border-color); */
  z-index: 2;
  padding: 1rem;
}
.header--title{
  color: var(--header--title-color);
  font-size: 2vw;
  margin-right: 1rem;
}
.header--logo{
  height: 2vw;
}
.button-hidde{
  background-color: var(--button-hidde-background);
  color: var(--button-hidde-color);
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.button-hidde:hover{
  background-color: var(--button-hidde-background-hover);
  color: var(--button-hidde-color-hover);
}
/* HEADER */


/* NAVBAR */
.navbar-container{
  margin-top: 4rem;
  height: fit-content;
  background-color: var(--navbar-backgroundColor);
  display: grid;
  grid-template-columns: repeat(1, 30vw);
  /* grid-template-columns: repeat(2, 30vw); */
  /* gap: 1rem; */
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
}
.inputFinder-container{
  height: fit-content;
  width: 100%;
  display: flex;
}
.inputFinder{
  min-height: 2.5rem;
  height: fit-content;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  background-color: var(--inputFinder-background);
}
.inputFinder:focus{
  outline: none;
}
.buttonFinder{
  width: 3rem;
  border-radius: 0.5rem;
  background-color: var(--buttonFinder-background);
}
.buttonFinder:hover{
  background-color: var(--buttonFinder-background-hover);
}
.find-logo{
  height: 1rem;
}
.select-version-container{
  height: fit-content;
  width: 100%;
}
.select-version{
  font-size: 1.5rem;
  height: 50%;
  width: 100%;
}
/* NAVBAR */

/* VERSE OF DAY */
.verseofday-container{
  
}
/* VERSE OF DAY */



/* APP CONTENT ----------------- */

.app-content{
  color: var(--text-color);
  min-height: 58vh;
  margin-bottom: 2rem;
}

.content-container{
  /* background-color: var(--content-background); */
  text-align: justify;
  margin: 0 auto;
  width: 70vw;
}

.content-title{
  font-size: 3rem;
  text-align: center;
}

.content-verse{
  font-size: 2rem;
}

/* APP CONTENT ----------------- */


/* FOOTER */

.footer-container{
  background-color: var(--footer-background);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text{
  color: var(--footer-text);
  font-weight: 800;
}

/* FOOTER */


@media (max-width: 1000px) {
  /* HEADER RESPONSIVE */  
  .header--title{
    font-size: 5vw;
  }
  
  .header--logo{
    height: 5vw;
  }
  /* HEADER RESPONSIVE */


  /* NAVBAR RESPONSIVE */
  .navbar-container{
    grid-template-columns: repeat(1 , 50%);
    /* gap: 1rem; */
  }
  /* NAVBAR RESPONSIVE */



  /* APP CONTENT RESPONSIVE ----------------- */
  
  /* APP CONTENT RESPONSIVE ----------------- */
}